
p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background: #e0d5d0;
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
}

#banner{
    width: 100%;
}

header{
    background-color: #e0d5d0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}